div.container {
    background-color: lavender;
    padding: 10px;
    max-width: 200px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    position: relative;
    margin: auto;
    top: 100px;
    text-align: center;
    border-radius: 5px;
}

input.color{
    border-bottom: 2px solid red;
}
